<!-- content left lists chat conversations-->
<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
            <select class="form-control" id="select-type-chat">
                <option data-target="#all-chat" value="all-chat">All</option>
                <option data-target="#personal-chat" value="personal-chat">Personal</option>
                <option data-target="#group-chat" value="group-chat">Group</option>
            </select>
            <a href="#groupChatModal" class="create-group-chat" data-toggle="modal" 
                title="Tạo một nhóm trò chuyện mới"></a>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="all-chat">
                <ul class="people no-padding-start">
                    <% allContentChat.forEach( (element)=>{ %>
                    <% if( element.member ){ %>
                        <a href="#uid_<%= element._id %>" class="room-chat" data-target="#to_<%= element._id %>">
                            <li class="person group-chat" data-chat="<%= element._id %>">
                                <div class="left-avatar">
                                    <!-- <div class="dot"></div> -->
                                    <img src="./images/users/groupChat.png" alt="avatar">
                                </div>
                                <span class="name">
                                    <span class="group-chat-name">
                                        <% if( element.name.length > 15){ %> 
                                            <%= element.name.substr(0,15).concat("......") %>
                                        <% }else{ %>
                                            <%= element.name %>
                                        <%}%>
                                    </span>
                                </span>
                                <span class="time"><%= convertTimestamp( retrieveTheLastOfArray(element.messenger).createdAt )%></span>
                                <span class="preview">
                                    <% if( !element.messenger.length ) { %> 
                                        Say "hi" to group "<%= element.name %>" 
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "text" ) { %>
                                        <%= retrieveTheLastOfArray(element.messenger).content %>    
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "photo" ) { %>
                                        You have received a photo from group "<%= element.name %>" 
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "text" ) { %>
                                        You have received a file from group "<%= element.name %>"   
                                    <% } %>
                                </span>
                            </li>
                        </a>
                    <%} else {%>
                    <a href="#uid_<%= element._id %>" class="room-chat" id="null-contact" data-target="#to_<%= element._id %>">
                        <li class="person active" data-chat="<%= element._id %>">
                            <div class="left-avatar">
                                <div class="dot online"></div>
                                <img class="avatar-online" src="./images/users/<%= element.avatar %>" alt="avatar">
                            </div>
                            <span class="name">
                                <% if( element.username.length > 15){ %> 
                                    <%= element.username.substr(0,15).concat("......") %>
                                <% }else{ %>
                                    <%= element.username %>
                                <%}%>
                            </span>
                            <span class="time"><%= convertTimestamp( retrieveTheLastOfArray(element.messenger).createdAt )%></span>
                                <span class="preview">
                                    <% if( !element.messenger.length ) { %> 
                                        Say "hi" to  <%= element.username %>
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "text" ) { %>
                                        <%= retrieveTheLastOfArray(element.messenger).content %>    
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "photo" ) { %>
                                        <%= element.username %> sent to you a photo
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "text" ) { %>
                                        <%= element.username %> sent to you a file
                                    <% } %>
                                </span>
                        </li>
                    </a>
                    <% }});%>
                </ul>
                <div id="read-more-all-chat">
                    <a href="#" id="btn-read-received-friend-contacts" ><strong>Read more conversations</strong></a>
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div class="tab-pane" id="personal-chat">
                <ul class="people no-padding-start">
                    <% allContentChat.forEach((element)=>{ %>
                        <%if( !element.member ){ %>
                        <a href="#uid_<%= element._id %>" class="room-chat" data-target="#to_<%= element._id %>">
                            <li class="person" data-chat="<%= element._id %>">
                                <div class="left-avatar">
                                    <div class="dot"></div>
                                    <img src="./images/users/<%= element.avatar %>" alt="avatar">
                                </div>
                                <span class="name">
                                    <% if( element.username.length > 15){ %> 
                                        <%= element.username.substr(0,15).concat("......") %>
                                    <% }else{ %>
                                        <%= element.username %>
                                    <%}%>
                                </span>
                                <span class="time"><%= convertTimestamp( retrieveTheLastOfArray(element.messenger).createdAt )%></span>
                                <span class="preview">
                                    <% if( !element.messenger.length ) { %> 
                                        Say "hi" to  <%= element.username %>
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "text" ) { %>
                                        <%= retrieveTheLastOfArray(element.messenger).content %>    
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "photo" ) { %>
                                        <%= element.username %> sent to you a photo
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "text" ) { %>
                                        <%= element.username %> sent to you a file
                                    <% } %>
                                </span>
                            </li>
                        </a>
                        <% } %>
                    <% }) %>
                </ul>
                <div id="read-more-personal-chat">
                    <a href="#" id="btn-read-received-friend-contacts" ><strong>Read more conversations</strong></a>
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div class="tab-pane" id="group-chat">
                <ul class="people no-padding-start">
                    <% allContentChat.forEach((element)=>{ %>
                        <% if(element.member){ %>
                        <a href="#uid_<%= element._id %>" class="room-chat" data-target="#to_<%= element._id %>">
                            <li class="person group-chat" data-chat="<%= element._id %>">
                                <div class="left-avatar">
                                    <!-- <div class="dot"></div> -->
                                    <img src="./images/users/groupChat.png" alt="">
                                </div>
                                <span class="name">
                                    <span class="group-chat-name">
                                        <% if( element.name.length > 15){ %> 
                                            <%= element.name.substr(0,15).concat("......") %>
                                        <% }else{ %>
                                            <%= element.name %>
                                        <%}%>
                                    </span>
                                </span>
                                <span class="time"><%= convertTimestamp( retrieveTheLastOfArray(element.messenger).createdAt )%></span>
                                <span class="preview">
                                    <% if( !element.messenger.length ) { %> 
                                        Say "hi" to group "<%= element.name %>" 
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "text" ) { %>
                                        <%= retrieveTheLastOfArray(element.messenger).content %>    
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "photo" ) { %>
                                        You have received a photo from group "<%= element.name %>" 
                                    <% } %>

                                    <% if( retrieveTheLastOfArray(element.messenger).typeMessenger == "text" ) { %>
                                        You have received a file from group "<%= element.name %>"   
                                    <% } %>
                                </span>
                            </li>
                        </a>
                        <% } %>
                    <% }) %>
                </ul>
                <div id="read-more-group-chat">
                    <a href="#" id="btn-read-received-friend-contacts" ><strong>Read more conversations</strong></a>
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
        
    </div>
</div>