<!DOCTYPE html>
<html lang="en">
<head>
    <title>Realtime Messenger Application</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../public/images//logo_favicon/favicon-trungquandev.png" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="./bower_components/AlertifyJS/build/css/alertify.css">

    <link rel="stylesheet" href="./bower_components/emojionearea/dist/emojionearea.min.css">
    <link rel="stylesheet" href="./bower_components/photoset-grid/css/colorbox.css">

    <link rel="stylesheet" href="./stylesheet/style.css">
    <link rel="stylesheet" href="./emojione/extra/css/emojione.min.css">
    <link rel="stylesheet" href="./emojione/extra/css/emojione-awesome.css">

</head>
<body onload="spinLoaded()">
    <!--Icon loader-->
    <div id="loader"></div>
    <input type="hidden" id="ICE-servers" value="<%= iceServers %>">
    <!-- include('./alertSection/alert.ejs'); --> 
    <%- include('./section/alert.ejs'); %>
    <!--include('./navbarSection/navbar.ejs');-->
    <%- include('./section/navbar.ejs'); %>
    
    
    <!-- content -->
    <!-- extend ejs se chen contentSection vao vi tri bat dau cua content-->
    <%- content %>

    <!--Libraries-->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="./bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
    <script src="./bower_components/AlertifyJS/build/alertify.js"></script>
    <script src="./bower_components/moment/min/moment.min.js"></script>
    <script src="./bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="./bower_components/emojionearea/dist/emojionearea.min.js"></script>
    <script src="./bower_components/peerjs/peer.min.js"></script>
    <script src="./bower_components/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="./bower_components/photoset-grid/jquery.photoset-grid.min.js"></script>
    <script src="./bower_components/jquery-colorbox/jquery.colorbox-min.js"></script>
    
    <script src="./emojione/lib/js/emojione.min.js"></script>
    <script src="./emojione/lib/js/emojione.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <!-- My js-->
    <script src="./javascripts/main.js"></script>
    <script src="./javascripts/updateInformation.js"></script>

    <script src="./javascripts/updatePassword.js"></script>
    <script src="./javascripts/contact.js"></script>

    <script src="./javascripts/calculateNotification.js"></script>
    <script src="./javascripts/readMoreNotification.js"></script>
    
    <script src="./javascripts/markNoticeAsRead.js"></script>
    <script src="./javascripts/readMoreContacts.js"></script>

    <script src="./javascripts/acceptOrDenyFriendRequest.js"></script>
    <script src="./javascripts/writeMessage.js"></script>

    <script src="./javascripts/calculateMessage.js"></script>
    <script src="./javascripts/typingMessage.js"></script>

    <script src="./javascripts/writePhotoMessage.js"></script>
    <script src="./javascripts/writeDocumentMessage.js"></script>

    <script src="./javascripts/videoCall.js"></script>
    <!-- include('../contacts/contactsModal'); -->
    <%- include('./section/contact.ejs'); %>

    <!-- include('../stream/streamModal'); -->
    <%- include('./section/stream.ejs'); %>   

    <!-- include('../images/imagesModal'); -->
    <%- include('./section/image.ejs'); %>
    
    <!-- include('../attach/attachmentModal'); -->
    <%- include('./section/attachment.ejs'); %>
        
    <!-- include('../users/profileModal'); -->
    <%- include('./section/profile.ejs'); %>

    <!-- include('../groupChat/groupChatModal'); -->
    <%- include('./section/groupChat.ejs'); %>

    <!--include('../notification/notification.ejs')-->
    <%- include('./section/notification.ejs') %>
</body>
</html>